.input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    background: linear-gradient(to bottom, transparent 95%, #0094d2 95%) no-repeat;
    background-size: 0% 100%;
    padding: 0 6px;
    outline: none;
    transition: background-size 0.2s ease;
    margin-right: 10px;
}

.button {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none !important;
    border-radius: 3px;
    border: 1px solid;
    min-width: 72px;
    max-width: 360px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 36px;
    letter-spacing: .12em;
    font-size: 12px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;

    border-color: #266900;
    background-color: transparent;
    color: #318700;
    margin: 6px 12px 6px 0;
}

.button:disabled {
    border-color: #747474;
    color: #565656;
    opacity: 0.4;
    cursor: not-allowed;
}

.input:focus {
    background-size: auto;
}
